<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form action="#" th:action="@{/}" th:object="${datos}" method="post">
            <table>
                <tr>
                    <td>Hobbies:</td>
                    <td><input type="checkbox" th:field="*{hobbies}" value="Leer"/>Leer
                    <br/><input type="checkbox" th:field="*{hobbies}" value="Viajar"/>Viajar
                    <br/><input type="checkbox" th:field="*{hobbies}" value="Videojuegos"/>Videojuegos
                    <br/><input type="checkbox" th:field="*{hobbies}" value="Deporte"/>Deporte
                    <br/><input type="checkbox" th:field="*{hobbies}" value="Dormir"/>Dormir
                    <br/><input type="checkbox" th:field="*{hobbies}" value="Manualidades"/>Manualidades</td>
                </tr>
                <tr>
                    <td><button type="submit" name="opcion" value="1">Enviar</button>
                    <button type="submit" name="opcion" value="-1">Atras</button></td>
                </tr>
                    <input type="hidden" th:field="*{nombre}" />
           			<input type="hidden" th:field="*{sex}" />
           			<input type="hidden" th:field="*{estado}" />
            </table>
        </form>
    </body>
</html>