<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MiniQuizz etapa 3</title>
</head>
<body>
	<form method="post" th:action="@{/}">
		<div>
			<p th:text="${errores}" />

			<label>Pregunta 2:</label>
			<h3>¿Para qué sirve una variable en programación?</h3>
			<ol>
				<li><input type="radio" th:name="respuesta" value=0>
					Para mostrar errores </input></li>
				<li><input type="radio" th:name="respuesta"
					value=0> Para repetir instrucciones </input></li>
				<li><input type="radio" th:name="respuesta"
					value=1> Para guardar datos que pueden cambiar </input></li>
				<li><input type="radio" th:name="respuesta"
					value=0> Para apagar el programa </input></li>
			</ol>
		</div>
		<button type="submit" name="opcion" value=1>Siguiente</button>
		<button type="submit" name="opcion" value=-1>Anterior</button>
	</form>
</body>
</html>