<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MiniQuizz etapa 5</title>
</head>
<body>
	<form method="post" th:action="@{/}">
		<div>
			<p th:text="${errores}" />

			<label>Pregunta 4:</label>
			<h3>¿Para qué se usa la instrucción if?</h3>
			<ol>
				<li><input type="radio" th:name="respuesta" value=0>
					Mostrar texto </input></li>
				<li><input type="radio" th:name="respuesta"
					value=1> Tomar decisiones </input></li>
				<li><input type="radio" th:name="respuesta"
					value=0> Definir una función </input></li>
				<li><input type="radio" th:name="respuesta"
					value=0> Repetir código </input></li>
			</ol>
		</div>
		<button type="submit" name="opcion" value=1>Siguiente</button>
		<button type="submit" name="opcion" value=-1>Anterior</button>
	</form>
</body>
</html>