<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MiniQuizz etapa 2</title>
</head>
<body>
	<form method="post" th:action="@{/}">
		<div>
			<p th:text="${errores}" />

			<label>Pregunta 1:</label>
			<h3>¿Qué es un algoritmo?</h3>
			<ol>
				<li><input type="radio" th:name="respuesta" value=0>
					Un lenguaje de programación </input></li>
				<li><input type="radio" th:name="respuesta"
					value=1> Un conjunto de pasos ordenados para resolver un problema </input></li>
				<li><input type="radio" th:name="respuesta"
					value=0> Un error en el código </input></li>
				<li><input type="radio" th:name="respuesta"
					value=0> Un tipo de computadora </input></li>
			</ol>
		</div>
		<button type="submit" name="opcion" value=1>Siguiente</button>
		<button type="submit" name="opcion" value=-1>Anterior</button>
	</form>
</body>
</html>